.visualDropArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: var(--text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  border: 1px dashed rgba(92, 92, 119, 0.28);
  background: #fff;
  border-radius: 4px;
  z-index: 1;
}
