.sidePage {
  position: fixed;
  bottom: 0;
  right: 0;

  height: 100vh;
  width: 640px;
  background: #fff;
  overflow: auto;
  padding: 24px;
  z-index: 999;

  box-shadow:
    0px 9px 28px 8px rgba(0, 0, 0, 0.1),
    0px 3px 6px -4px rgba(0, 0, 0, 0.1),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08);
}

.sidePage[data-size='large'] {
  width: 920px;
}

.closeIconWrapper {
  position: absolute;
  top: 24px;
  right: 24px;
}

.closeIcon {
  width: 20px;
  height: 20px;
}
