:root {
  --text-default: #000000e0;
  --text-secondary-strong: #000000a6;
  --text-secondary: #00000045;
  --text-disabled: #00000025;
  --text-error: #f5222d;
  --text-warning: #d48806;
  --text-success: #52c41a;
  --text-link: #1677ff;
  --text-heading: #000000e0;
  --text-description: #00000073;
  --text-placeholder: #00000040;

  --text-white-muted: #ffffffa6;

  --success-border: #b7eb8f;
  --error-border: #ffa39e;
  --primary-border: #d3adf7;
  --warning-border: #ffe58f;
  --link-border: #91caff;

  --succes-bg: #f6ffed;
  --error-bg: #fff1f0;
  --info-bg: #f9f0ff;
  --warning-bg: #fffbe6;
  --bg-layout: #f5f5f5;
  --bg-link: #e6f4ff;
  --bg-container-dark: #26262c;

  --primary: #722ed1;
  --primary-hover: #9254de;
  --primary-active: #531dab;
  --bg-primary: #f9f0ff;
  --bg-primary-active: #efdbff;

  --error: #f5222d;
  --error-hover: #ff4d4f;
  --error-active: #cf1322;

  --success: #52c41a;

  --warning: #faad14;

  --focus-blue: #1890ff33;
  --focus-error: #ff4d4f33;

  --bg-control-item-hover: #0000000a;
  --bg-text-hover: #0000000f;
  --bg-text-active: #00000026;
  --bg-container-disabled: #0000000a;
  --bg-colorBgSpotlight: #000000d9;

  --colorFillQuaternary: #00000005;
  --border-color: #d9d9d9;
  --border-secondary-color: #f0f0f0;
  --border-radius-lg: 8px;
  --input-height: 32px;
  --header-height: 48px;

  --bg-timeline-element-hover-planned: #bae0ff;
  --bg-timeline-element-hover-overdue: #ffccc7;
  --bg-timeline-element-hover-completed: #d9f7be;
  --bg-timeline-element-hover-no-respinsible: #ffe7ba;
}
