.option {
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.option[data-disabled='true'] {
  opacity: 0.7;
  cursor: not-allowed;
}

.option[data-disabled='false']:hover {
  background: var(--bg-text-hover);
}

.option[data-disabled='false'][data-active='true'],
.option[data-disabled='false']:active {
  background: var(--bg-primary);
}

.option[data-active='true'] {
  color: var(--primary);
}
