.wrapper {
  height: 100vh;
  width: 100vw;
  background: var(--bg-layout);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.roleSelectionBlock {
  width: 600px;
  background-color: #fff;
  padding: 32px;
  box-shadow: 0px 2px 4px 0px #00000005, 0px 1px 6px -1px #00000005, 0px 1px 2px 0px #00000008;
  border-radius: 8px;
}

.roleSelectionButton {
  flex: 1 1 0;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-secondary-color);
  border-radius: 8px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--bg-control-item-hover);
    border-color: var(--border-color);
  }
  &:active {
    background-color: var(--bg-text-active);
    border-color: var(--border-color);
  }

  &[data-active='true'] {
    background-color: var(--bg-text-active);
    border-color: var(--primary-border);
  }
}
