.wrapper {
  width: 100%;
  padding: 9px 20px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  color: var(--text-heading);
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}

.wrapper:hover {
  background: var(--bg-control-item-hover);
}

.wrapper[data-open='true'] {
  color: var(--primary);
  background: var(--bg-primary);
}

.wrapperMin {
  width: 40px;
  height: 40px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-heading);
  cursor: pointer;
  border-radius: 8px;
  position: relative;
}

.wrapperMin:hover {
  background: var(--bg-control-item-hover);
}

.wrapperMin[data-open='true'],
.wrapperMin[data-active='true'] {
  color: var(--primary);
  background: var(--bg-primary);
}

.navMenu {
  position: absolute;
  right: calc(-228px - 8px - 5px);
  top: 0px;
  transform: translateX(calc(100% + 15px));
  z-index: 100;
  box-shadow:
    0 9px 28px 8px #0000000d,
    0px 3px 6px -4px #0000001f,
    0px 6px 16px 0 #00000014;

  background: #fff;
  padding: 4px;
  border-radius: 8px;
  width: 228px;

  display: flex;
  flex-direction: column;
}

.navOption {
  width: 100%;
  padding: 5px 12px;
  text-decoration: none;
}

.navOption:hover {
  background: var(--bg-control-item-hover);
}
