.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-secondary-color);
  width: 100%;
}

.header {
  background-color: #f7f7f7;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid var(--border-secondary-color);
}

.itemCell {
  padding: 8px;
  border-right: 1px solid var(--border-secondary-color);
}

.itemCell:nth-last-child(1) {
  border-right: none;
}
