.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: var(--header-height);
  background: #fff;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 0;
  flex-shrink: 0;
  position: relative;
}

.headerShadow {
  position: absolute;
  width: calc(100% - 56px);
  bottom: 0;
  right: 0;

  box-shadow: 0px 2px 4px 0px #00000005, 0px 1px 6px -1px #00000005, 0px 1px 2px 0px #00000008;
}

.centerSection {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.headerControls {
  margin-left: auto;
  display: inline-flex;
  gap: 8px;
}

.logoImage {
  height: 10px;
  cursor: pointer;
}

.contentWrapper {
  display: inline-flex;
  height: 100%;
}

.nav {
  background: #fff;
  padding: 16px 8px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  max-width: 200px;
  transition: all ease 0.3s;
  flex-shrink: 0;

  position: relative;
}

.navShadow {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100% - 8px);

  box-shadow: 0px 2px 4px 0px #00000005, 0px 1px 6px -1px #00000005, 0px 1px 2px 0px #00000008;
}

.nav[data-open='false'] {
  max-width: 56px;
  padding-left: 0;
  padding-right: 0;
}

.navFooter {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.nav[data-open='false'] .navFooter {
  padding-left: 12px;
}

.content {
  background: var(--bg-layout);
  display: flex;
  flex: 1;
  height: calc(100vh - var(--header-height));
  border-top-left-radius: 16px;
}
