.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  overflow: auto;
}

.content {
  height: 100%;
  min-height: 0;
  width: 100%;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
}

.resizer {
  width: 4px;
  height: 100%;
  flex-shrink: 0;
  border-right: 1px solid var(--border-secondary-color);
  cursor: col-resize;
  border-radius: 2px;

  transition: background-color ease-in-out 0.15s;
}
