.wrapper {
  padding: 16px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &[data-collapsed='true'] {
    height: 258px;
  }
}

.img {
  border-radius: 8px;
  max-width: 224px;
  height: 224px;
  object-fit: contain;
  border-bottom: 1px solid #e5e7eb;
}
