.arrow {
  position: relative;
  transition: all ease 0.3s;
  cursor: pointer;
  margin-left: auto;
  color: var(--text-default);
  flex-shrink: 0;
}

.arrow[data-open='true'] {
  transform: rotate(180deg);
}

.wrapper {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: var(--input-height);
  position: relative;

  &.wrapper[data-type='default'] {
    padding: 0 9px;
    background: #fff;
    border: 1px solid var(--border-color);
    transition: background-color ease 0.3s;
    border-radius: var(--border-radius-lg);
  }

  &.wrapper[data-disabled='true'] {
    cursor: not-allowed;
    background: #0000000a;
    padding-left: 12px;
  }

  &.wrapper[data-type='inline'] {
    gap: 4px;

    & div {
      transition: color ease 0.3s;
      color: var(--primary);
    }
    & svg {
      margin: 0;
      color: var(--primary);
    }
  }
}

.wrapper[data-loading='true'] {
  cursor: wait;
}

.wrapper:hover,
.wrapper[data-open='true'] {
  &.wrapper[data-type='default'] {
    border: 1px solid var(--primary);
  }
  &.wrapper[data-type='inline'] {
    & div {
      color: var(--primary-hover);
    }
    & svg {
      color: var(--primary-hover);
    }
  }
}

.wrapper[data-open='true'] {
  &.wrapper[data-type='default'] {
    outline: 2px solid var(--focus-blue);
  }
  &.wrapper[data-type='inline'] {
    & div {
      color: var(--primary-active);
    }
    & svg {
      color: var(--primary-active);
    }
  }
}

.wrapper[data-open='false'] .options {
  box-shadow: none;
}
